.title{
    padding: 10px 0;
    display: inline-block;
    cursor:pointer;
    svg {
    display: block;
    font-size:55px;
    width:300px;
    height: 100px;

    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 3px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #0079BF;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #1986C5;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #449DD0;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #005485;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #50FCA3;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}
}
:focus {
    outline-color: transparent;
    outline-style: none;
  }